section {
	opacity: 0;
}
.prev {
	display: none;
}
.next {
	display: none;
}
.mainSlide {
	height: 100%;
}
.slide-23 {
	overflow: visible;
	padding: 0;
}
.conten-list {
	width: 140em;
	height: 54.3em;
	position: relative;
	padding: 9.3em 0 0 11.6em;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100vw;
		height: 100%;
		background: #c00000;
	}
}
.list {
	display: flex;
	position: relative;
	max-width: 109.8em;

	&__item {
		text-align: center;
		padding: 0 2.7em;
		width: 33.3%;
	}

	&__title {
		margin-bottom: 4em;
		height: 11.7em;
		display: flex;
		align-items: flex-end;
		span {
			font-weight: 700;
			font-size: 3.7em;
			color: #ffffff;
			width: 100%;
		}
	}
	&__img {
		position: relative;
		background: #fff;
		border-radius: 50%;
		width: 24em;
		height: 24em;
		margin: 0 auto 2.5em;
	}

	&__text {
		span {
			font-weight: 700;
			font-size: 2.1em;
			color: #ffffff;
		}
	}
}
.text-lg {
	position: absolute;
	top: 61.8em;
	left: 13em;
	width: 110em;
	padding-left: 3.8em;
	line-height: 1;
	height: 26.3em;
	&__item {
		margin-bottom: 0.8em;
		position: relative;
		&:nth-child(1) {
			margin-bottom: 0.9em;
		}
		&:nth-child(3) {
			margin-bottom: 2.9em;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	b {
		font-size: 6.4em;
	}
	span {
		font-size: 4.8em;
		font-weight: 700;
	}
	div div {
		font-weight: 700;
		font-size: 4.3em;
		color: #c00000;
	}
}
.gray-block {
	position: absolute;
	top: 28em;
	left: 128.8em;
	width: 63em;
	height: 35.7em;

	padding: 10.4em 5em 0 31em;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;
		background: #e1e1e6;
	}

	img {
		position: absolute;
		width: 12.8em;
		top: -6em;
		left: 35.5em;
	}
	ul {
		position: relative;
		li {
			position: relative;
			padding-left: 3.8em;
			margin-bottom: 1.6em;

			&::before {
				content: '•';
				font-size: 2.7em;
				color: #000000;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	ul span {
		font-weight: 700;
		font-size: 3.2em;
		color: #000000;
	}
}

.sl23-pack {
	position: absolute;
	top: 10em;
	left: 119em;
	width: 43.2em;
}

.note {
	left: 106.7em;
	bottom: 6em;
	span {
		font-weight: 400;
		font-size: 1.3;
		color: #000000;
	}
}
