section {
	opacity: 0;
}
.prev {
	display: none;
}
.next {
	display: none;
}
.mainSlide {
	height: 100%;
}
.slide-12 {
	overflow: visible;
}
.sl12-img {
	position: absolute;
	right: 64.4em;
	top: 0;
	width: calc(100% - 64.4em);
	height: 47.6em;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100vw;
		height: 100%;
		background: #e1e1e6;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('images/sl12-img.jpg');
		background-size: cover;
		background-position: right center;
	}
}

.text-lg {
	position: absolute;
	left: 12.9em;
	width: 60em;
	top: 56.2em;
}

.content {
	padding: 5.7em 5em 0 11.7em;
	position: absolute;
	top: 28.5em;
	left: 82.7em;
	width: calc(100vw - 82.7em);
	height: calc(100% - 28.5em);

	background: #c00000;

	&::before {
		content: '';
		position: absolute;
		top: -18.8em;
		right: calc(100% - 6.8em);
		width: 51.8em;
		height: 98.1em;
		background-image: url(images/sl12-line.png);
		background-size: contain;
	}

	&__item {
		position: relative;
		display: flex;
		margin-bottom: 4.2em;
		max-width: 92.6em;

		&::before {
			content: '';
			position: absolute;
			top: 1.2em;
			left: -7em;
			width: 3.4em;
			height: 3.4em;
			background: #ffffff;
			border-radius: 50%;
		}
	}

	&__title {
		width: 39.5%;
		span {
			font-weight: 700;
			font-size: 4.3em;
			color: #ffffff;
		}
	}

	&__list {
		width: 60.5%;
	}
}
.content-list {
	margin-top: -0.5em;

	&--2 {
		margin-top: 0;
		padding-top: 0.5em;
	}

	li {
		color: #ffffff;
		position: relative;
		margin-bottom: 1.5em;
		&::before {
			content: '•';
			position: absolute;
			top: 0.2em;
			left: -1.5em;
			font-size: 2.7em;
		}

		b {
			font-weight: 700;
			font-size: 3.9em;
			display: block;
		}
		span {
			font-weight: 400;
			font-size: 3.4em;
		}
	}
	&--3 {
		margin-top: 0.2em;
		li {
			margin-bottom: 0.8em;
		}
		li b {
			font-size: 3.2em;
		}
	}
}
