section {
	opacity: 0;
}
.prev {
	display: none;
}
.next {
	display: none;
}
.mainSlide {
	height: 100%;
}
.slide-17 {
	overflow: visible;
}

.sl17-pack-1 {
	position: absolute;
	width: 40.1em;
	top: 5em;
	left: 63.1em;
	z-index: 5;
}

.text {
	border-left: 2.2em solid #c00000;
	position: absolute;
	top: 18.9em;
	left: 18.5em;
	width: 38em;
	padding-left: 3.12em;

	span {
		font-weight: 700;
		font-size: 3.3em;
		color: #c00000;
	}
	span + span {
		color: #000;
		display: block;
	}
}
.content-name {
	position: absolute;
	left: 65.2em;
	top: 0;
	width: calc(100vw - 65.2em);
	height: 55.3em;

	background: #c00000;
	padding: 13.5em 0 0 34em;
	z-index: 2;
	&__title {
		max-width: 68em;
		margin-bottom: 3.2em;
		span {
			display: block;
			font-weight: 700;
			font-size: 10.4em;
			line-height: 1;
			color: #ffffff;
		}
	}

	&__desc {
		max-width: 68em;
		span {
			font-style: normal;
			font-weight: 700;
			font-size: 3.7em;
			color: #ffffff;
		}
	}
}

.list-content {
	position: absolute;
	top: 49.6em;
	left: 0;
	width: 100%;
	&__title {
		text-align: center;
		margin-bottom: 2.2em;
		position: relative;
		span {
			font-weight: 700;
			font-size: 3.7em;
			color: #c00000;
		}
	}

	&__time {
		text-align: center;
		margin-bottom: 1.2em;
		position: relative;
		span {
			font-weight: 400;
			font-size: 2.9em;
			color: #000000;
		}
	}
}
.list-content-left {
	position: absolute;
	top: 0;
	position: absolute;
	width: 83.8em;
	height: 42.4em;
	padding: 6.9em 14em 0 0em;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100vw;
		height: 100%;
		background: #e1e1e6;
	}

	.perceng-list {
		justify-content: space-between;
		width: 56.3em;
		margin: 0 auto;
	}
}
.perceng-list {
	display: flex;
	&__item {
		width: 50%;
		text-align: center;
	}
	&__count {
		position: relative;
		span {
			font-weight: 700;
			font-size: 9.3em;
			color: #000000;
			&:first-child {
				font-size: 8em;
			}
			&:last-child {
				font-size: 8em;
			}
		}
		small {
			font-weight: 400;
			font-size: 2.9em;
			color: #000000;
			position: absolute;
			left: 0.4em;
			top: 0.4em;

			& + span {
				font-size: 8em;
			}
		}
	}

	&__title {
		text-align: center;
		span {
			font-weight: 400;
			font-size: 2.9em;
			color: #000000;
		}
	}
}

.list-content-right {
	position: absolute;
	left: 101.2em;
	padding: 7.7em 0;
	width: 82em;

	.perceng-list {
		justify-content: space-between;
	}

	.list-content__title {
		margin-bottom: 1.6em;
	}
	.list-content__time {
		margin-bottom: 0.9em;
	}
}
