section {
	opacity: 0;
}
.prev {
	display: none;
}
.next {
	display: none;
}
.mainSlide {
	height: 100%;
}
.slide-27 {
	overflow: visible;
	padding: 0;
}
.conten-list {
	width: 152.1em;
	height: 65em;
	position: relative;
	padding: 9.3em 0 0 11.6em;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100vw;
		height: 100%;
		background: #c00000;
	}
}
.list {
	display: flex;
	position: relative;
	max-width: 109.8em;

	&__item {
		text-align: center;
		padding: 0 0.7em;
		width: 33.3%;
	}

	&__title {
		margin-bottom: 3.4em;
		height: 11.7em;
		display: flex;
		align-items: flex-end;
		span {
			font-weight: 700;
			font-size: 3.7em;
			color: #ffffff;
			width: 100%;
		}
	}
	&__img {
		position: relative;
		background: #fff;
		border-radius: 50%;
		width: 24em;
		height: 24em;
		margin: 0 auto 3.2em;
	}

	&__text {
		span {
			font-weight: 700;
			font-size: 2.7em;
			color: #ffffff;
		}
	}
}
.text-lg {
	position: absolute;
	top: 70.2em;
	left: 13em;
	width: 110em;
	padding-left: 2.4em;
	line-height: 1;
	&__item {
		margin-bottom: 0.5em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	b {
		font-size: 6.4em;
	}
	span {
		font-size: 4.3em;
		line-height: 1.2;
		display: block;
		font-weight: 700;
	}
}
.gray-block {
	position: absolute;
	top: 16.9em;
	left: 128.8em;
	width: 63em;
	height: 39.7em;

	padding: 4.6em 5em 0 6.1em;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;
		background: #e1e1e6;
	}

	img {
		position: absolute;
		width: 8.6em;
		top: -4em;
		left: -3em;
	}
}
.perceng-list {
	display: flex;
	position: relative;

	&__item {
		text-align: center;
		position: relative;
		&:nth-child(1) {
			margin-right: 6.5em;
		}
	}

	&__count {
		margin-bottom: 0.5em;
		span {
			font-weight: 700;
			font-size: 12em;
			color: #c00000;
		}
		b {
			font-weight: 700;
			font-size: 8em;
			color: #c00000;
		}
	}

	&__text {
		text-align: center;
		span {
			font-weight: 700;
			font-size: 2.7em;
			color: #000000;
		}
	}
}

.sl27-pack {
	position: absolute;
	top: 41em;
	left: 119em;
	width: 56.7em;
}

.note {
	left: 106.7em;
	bottom: 6em;
	span {
		font-weight: 400;
		font-size: 1.3;
		color: #000000;
	}
}
