/* reset */
$min-width: 320px; 
$max-width: 1920px; 
$base-bg: #000000; 
$base-font-size: 16px; 
$base-line-height: 25px; 
$base-font-family: 'Plumb', sans-serif; 
$custom-font-family: 'Plumb', sans-serif; 
$link-color: #100da9;
$default-transition:all 0.3s linear;

/* main variables */

//text, titles
$text-color: #b5b5b5;
$title-color:  #fff;
$title-font-family: $custom-font-family;

$font-size-h1: 50px;
$line-height-h1: 55px;
$font-size-h2: 50px;
$line-height-h2: 55px;
$font-size-h3: 50px;
$line-height-h3: 55px;