/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
	width: 100%;
	min-width: $min-width;
	text-align: left;
	order: 1;
	-webkit-order: 1;
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:before {
			display: none;
		}
	}
}
.logo {
	position: relative;
	z-index: 2;
}
.header-main {
	position: absolute;
	left: 0;
	top: 22px;
	width: 100%;
}
.social-list {
	margin-top: 4px;
	&__item {
		display: inline-block;
		margin-right: 22px;
		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		svg {
			width: 17px;
			height: 17px;
		}
		&::v-deep path {
			color: red;
		}
		&:hover {
			opacity: 0.6;
		}
	}
}
.user-nav {
	display: flex;
	align-items: center;
	padding-right: 6px;
	&__item {
		margin-left: 24px;
		.btn-white {
			color: #303030;
		}
	}

	&__link {
		font-weight: 700;
		font-size: 11px;
		line-height: 16px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #ffffff;
		&:hover {
			color: #dadada;
		}
	}
}
.mob-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 48.5%;
}
.btn-nav {
	display: none;
	position: relative;
	width: 34px;
	height: 30px;
	span {
		position: absolute;
		right: 0;
		display: block;
		width: 25px;
		height: 2px;
		background: #0000ff;

		&:nth-child(1) {
			top: 4px;
			width: 34px;
		}
		&:nth-child(2) {
			top: 13px;
		}
		&:nth-child(3) {
			top: 22px;
		}
	}
	&.active {
		span {
			&:nth-child(1) {
				width: 26px;
				transform: rotate(-45deg);
				transition: transform 0.3s 0.3s;
				transform-origin: right center;
			}
			&:nth-child(2) {
				width: 0;
				transition: all 0.3s;
			}
			&:nth-child(3) {
				width: 26px;
				transform: rotate(45deg);
				transition: transform 0.3s 0.3s;
				transform-origin: right center;
			}
		}
	}
}
//inner page
.header-inner {
	height: 88px;
	background: #0000ff;
	.wrapper {
		height: 88px;
	}
	.icon-svg {
		fill: #fff;
	}
}

@media screen and (max-width: 1200px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (max-width: 1023px) {
	.mob-nav {
		width: 60%;
	}
	.user-nav {
		padding-right: 0;
	}
	.user-nav__item {
		margin-left: 11px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
	.logo {
		img {
			width: 104px;
		}
	}
	.header-main .mob-nav {
		background: #ffffff;
		box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.2);
		position: absolute;
		top: -15px;
		right: 0;
		width: 100%;
		height: 295px;
		display: none;
		flex-direction: column-reverse;
		padding: 96px 40px 56px;
		&.show {
			display: flex;
		}
	}
	.btn-nav {
		display: block;
	}
	.header-main {
		top: 15px;
	}
	.user-nav {
		display: block;
	}
	.user-nav__item {
		margin: 0 0 25px 0;
		text-align: center;
		&:last-child {
			margin: 0;
		}
	}
	.user-nav__link {
		color: #303030;
	}
	.user-nav__item .btn-white {
		background: #0000ff;
		color: #ffffff;
		&:hover {
			background: #0000da;
			color: #fff;
		}
	}
	.social-list__item {
		margin-right: 13px;
	}
	.header-inner {
		.user-nav__link {
			color: #fff;
		}
		.mob-nav {
			width: 100%;
		}
		.social-list {
			margin: 0 auto;
		}
	}
}
@media screen and (max-width: 480px) {
	.social-list__item {
		margin-right: 8px;
	}
}
