@keyframes circleOtherScreen{
	0%{transform:none}
	50%{transform:scale(.9)}
	100%{transform:scale(1.02)}
}
@keyframes nudgeMouse{
	0%,30%,60%,90%{transform:translateY(0)}
	20%,50%,80%{transform:translateY(8px)}
}
@-webkit-keyframes trackBallSlide{
	0%,28%,29.99%,30%{opacity:1;transform:scale(1) translateY(-6px)}
	6%{opacity:1;transform:scale(.9) translateY(5px)}
	14%{opacity:0;transform:scale(.4) translateY(25px)}
	15%,19%{opacity:0;transform:scale(.4) translateY(-6px)}
	36%{opacity:1;transform:scale(.9) translateY(5px)}
	44%{opacity:0;transform:scale(.4) translateY(25px)}
	45%,49%{opacity:0;transform:scale(.4) translateY(-6px)}
	58%,59.99%,60%{opacity:1;transform:scale(1) translateY(-6px)}
	66%{opacity:1;transform:scale(.9) translateY(5px)}
	74%{opacity:0;transform:scale(.4) translateY(25px)}
	75%,79%{opacity:0;transform:scale(.4) translateY(-6px)}
	100%,88%{opacity:1;transform:scale(1) translateY(-6px)}
}
@media screen and (min-width: 1024px)  and (min-height: 670px){
	.reviews-photo-list__circle,
	.video-list__circle,
	.slider-step__circle,
	.circle-decor-blue,
	.advantages-list__cirle,
	.circle-decor{
		animation: circleOtherScreen 5s cubic-bezier(.455,.03,.515,.955) infinite alternate;
		animation-delay: 0s;
	}
	.scroll-mouse{		
		animation: nudgeMouse 5s ease-out infinite;
		transition: all .3s cubic-bezier(.455,.03,.515,.955);
		&:before{
			animation: trackBallSlide 5s linear infinite;
			transition: all .3s cubic-bezier(.455,.03,.515,.955);
		}
	}
	.advantages-list__cont{
		transition: all .3s cubic-bezier(.455,.03,.515,.955);
	}
	.slider-step__title{
		transform:translateY(100%);
	}
	.slider-step__number{
		transform:translateY(100%);
	}
	.slider-step__img{
		transform:translateY(100%);
	}
	.fp-completely{
		.slider-step__title{
			transition:all 0.6s  0.0s;
		}
		.slider-step__number{
			transition:all 0.6s  0.25s;
		}
		.slider-step__img{
			transition:all 0.6s  0.4s;
		}
		.slick-current{
			.slider-step__title,
			.slider-step__number,
			.slider-step__img{
				transform: none;
			}
		}
	}
	.step-list__count{
		opacity: 0;
    	transform: scale3d(0.3, 0.3, 0.3);
	}
	.step-list__img{
		opacity: 0;
    	transform: scale3d(0.3, 0.3, 0.3);
	}
	.step-list__title{
		opacity: 0;
    	transform: scale3d(0.3, 0.3, 0.3);
	}
	.step-list__line .st0{		
		-moz-stroke-dashoffset: -400;
		-webkit-stroke-dashoffset: -400;
		-o-stroke-dashoffset: -400;
		-ms-stroke-dashoffset: -400;
		stroke-dashoffset: -400;
		-moz-stroke-dasharray:400;
		-webkit-stroke-dasharray:400;
		-o-stroke-dasharray:400;
		-ms-stroke-dasharray:400;
		stroke-dasharray: 400;
	}
	.step-list__item:nth-child(2n){
		.st0{
			-moz-stroke-dashoffset: 400;
			-webkit-stroke-dashoffset: 400;
			-o-stroke-dashoffset: 400;
			-ms-stroke-dashoffset: 400;
			stroke-dashoffset: 400;
		}
	}
	.step-list__item:nth-child(5) .st0{
			-moz-stroke-dashoffset: 400;
			-webkit-stroke-dashoffset: 400;
			-o-stroke-dashoffset: 400;
			-ms-stroke-dashoffset: 400;
			stroke-dashoffset: 400;
		}
	.step-animated .step-list__item:nth-child(5) .st0,
	.step-animated .step-list__item:nth-child(2n) .st0{ 
		-moz-stroke-dashoffset: 0;
		-webkit-stroke-dashoffset: 0;
		-o-stroke-dashoffset: 0;
		-ms-stroke-dashoffset:0;
		stroke-dashoffset: 0;
	}
	.step-animated{
		.step-list__img{
			opacity: 1;
			transition: all 0.6s 0.2s; 
			transform: none;
		}
		.step-list__title{
			opacity: 1;
			transition: all 0.4s 0.5s; 
			transform: none;
		}
		.step-list__count{
			opacity: 0.5;
			transition: all 0.4s 0.9s; 
			transform: none;
		}
		.st0{
			//stroke-dasharray: 5.5;
			transition: stroke-dashoffset 1.5s 1s;
			-moz-stroke-dashoffset: 0;
			-webkit-stroke-dashoffset: 0;
			-o-stroke-dashoffset: 0;
			-ms-stroke-dashoffset:0;
			stroke-dashoffset: 0;
		}
		.step-list__item{
			&:nth-child(2){
				.step-list__img{
					transition: all 0.6s 1.5s; 
				}
				.step-list__title{
					transition: all 0.4s 2.0s;
				}
				.step-list__count{
					transition: all 0.4s 2.3s;
				}
				.st0{
					transition: stroke-dashoffset 1.5s 2.5s;
				}
			}
			&:nth-child(3){
				.step-list__img{
					transition: all 0.6s 2.9s; 
				}
				.step-list__title{
					transition: all 0.4s 3.2s;
				}
				.step-list__count{
					transition: all 0.4s 3.4s;
				}
				.st0{
					transition: stroke-dashoffset 1.5s 3.5s;
				}
			}
			&:nth-child(4){
				.step-list__img{
					transition: all 0.6s 4s; 
				}
				.step-list__title{
					transition: all 0.4s 4.3s;
				}
				.step-list__count{
					transition: all 0.4s 4.4s;
				}
				.st0{
					transition: stroke-dashoffset 1.5s 4.8s;
				}
			}
			&:nth-child(5){
				.step-list__img{
					transition: all 0.6s 5s; 
				}
				.step-list__title{
					transition: all 0.4s 5.3s;
				}
				.step-list__count{
					transition: all 0.4s 5.5s;
				}
				.st0{
					transition: stroke-dashoffset 1.5s 6s;
				}
			}
			&:nth-child(6){
				.step-list__img{
					transition: all 0.6s 6.4s; 
				}
				.step-list__title{
					transition: all 0.4s 6.6s;
				}
				.step-list__count{
					transition: all 0.4s 6.8s;
				}
			}
		}
	}
	.reviews-list-text{
		.zoomIn{
			animation-name: none;
		}
		.fadeInLeft{
			animation-name: none;
		}
		.slick-active{
			.zoomIn{
				animation-name: zoomIn;
			}
			.fadeInLeft{
				animation-name: fadeInLeft;
			}
		}
	}

}