
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 155px 0 155px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 900;	
	text-transform: uppercase;
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 900;	
	text-transform: uppercase;
	font-style: italic;
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 900;
	text-transform: uppercase;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{opacity: 0;}

.preloader-screen{
	position: fixed;
	left: 0;
	top: -100%;
	width: 100%;
	height: 100%;
	z-index: 125;
	//background-image: url('../img/preloader-ball.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	transition: all 0.3s;
	overflow: hidden;
	opacity: 0;
	&__logo{
		position: absolute;
		left: 50%;
		top: 39.5%;
		transform:  translate(-50%,-50%);
		z-index: 3;
	}
}
.loaded .preloader-screen{
	top: 0;
	opacity: 1;
}
.equipment{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	&__item{
		position: absolute;
		left: 19%;
		top: -150px;
		animation: falls 5s infinite linear;
		img{
			display: block;
			max-width: 100%;
		}
		&_1{
			left: 14.55%;
			animation-delay: 0.16s;
			animation-duration: 4.6s;
		}
		&_2{
			left: 6.2%;
			animation-delay: 0.84s;
			animation-duration: 5.3s;
		}
		&_3{
			left: 0px;
			animation-delay: 1.94s;
			animation-duration: 4.8s;
		}
		&_4{
			left: 21.7%;
			animation-delay: 1.1s;
			animation-duration: 4.7s;
		}
		&_5{
			left:4%;
			animation-delay: 2.46s;
			animation-duration: 4.6s;
		}
		&_6{
			left:-20px;
			animation-delay: 0.66s;
			animation-duration: 4.8s;
			img{
				width: 55px;
			}
		}
		&_7{
			left:4.8%;
			animation-delay: 2.66s;
			animation-duration: 4.7s;
		}
		&_8{
			left:15%;
			animation-delay: 1.9s;
			animation-duration: 5.4s;
			img{
				width: 58px;
			}
		}
		&_9{
			left:4.8%;
			animation-delay: 2.3s;
			animation-duration: 5.6s;
			img{
				width: 68px;
				transform: rotate(245deg);
			}
		}
		&_10{
			left:15%;
			animation-delay: 0.8s;
			animation-duration: 5.3s;
			img{
				width: 73px;
				transform: rotate(177deg);
			}
		}
		&_11{
			left:26.3%;
			animation-delay: 2.2s;
			animation-duration: 4.8s;
			img{
				width: 73px;
				transform: rotate(177deg);
			}
		}
		&_12{
			left:34.4%;
			animation-delay: 1.6s;
			animation-duration: 5.3s;
			img{
				width: 74px;
				transform: rotate(119deg);
			}
		}
		&_13{
			left:34.0%;
			animation-delay: 2.2s;
			animation-duration: 5.8s;
			img{
				width: 80px;
				transform: scale(-1,1) rotate(15deg);
			}
		}
		&_14{
			left:33.0%;
			animation-delay: 2.4s;
			animation-duration: 4.8s;
			img{
				width:28px;
			}
		}
		&_15{
			left:45.8%;
			animation-delay: 0.15s;
			animation-duration: 5.3s;
			img{
				width: 40px;
				transform: rotate(20deg);
			}
		}
		&_16{
			left: 52%;
			animation-delay: 2.95s;
			animation-duration: 5.6s;
			img{
				width: 55px;
				transform: rotate(47deg);
			}
		}
		&_17{
			left: 53.6%;
			animation-delay: 2.35s;
			animation-duration: 4.6s;
			img{
				width: 48px;
			}
		}
		&_18{
			left: 62.8%;
			animation-delay: 0.15s;
			animation-duration: 5.2s;
			img{
				width: 40px;
				transform: rotate(-32deg);
			}
		}
		&_19{
			left: 70.8%;
			animation-delay: 0.15s;
			animation-duration: 4.9s;
			img{
				width: 60px;
			}
		}
		&_20{
			left: 73.4%;
			animation-delay: 2.35s;
			animation-duration: 5.3s;
			img{
				width: 75px;
				transform: rotate(-115deg);
			}
		}
		&_21{
			left: 72.8%;
			animation-delay: 2.9s;
			animation-duration: 5.4s;
			img{
				width: 65px;
				transform: scale(-1,1) rotate(11deg);
			}
		}
		&_22{
			left: 70.8%;
			animation-delay: 0.55s;
			animation-duration: 5.3s;
			img{
				width: 23px;
			}
		}
		&_23{
			left: 88.5%;
			animation-delay: 1.9s;
			animation-duration: 4.9s;
			img{
				width: 38px;
				transform: rotate(-148deg);
			}
		}
		&_24{
			left: 83.6%;
			animation-delay: 0.75s;
			animation-duration: 5.5s;
			img{
				width: 53px;
				transform: rotate(-148deg);
			}
		}
		&_25{
			left: auto;
			right: -15px;
			animation-delay:1.85s;
			animation-duration: 5.1s;
			img{
				width: 74px;
				transform: rotate(-188deg);
			}
		}
		&_26{
			left: 83.5%;
			animation-delay: 2.75s;
			animation-duration: 5.9s;
		}
		&_27{
			left: 90.5%;
			animation-delay: 1.15s;
			animation-duration: 5.1s;
			img{
				width: 60px;
				transform: rotate(-188deg);
			}
		}
		&_28{
			left: 73.6%;
			animation-delay: 0.52s;
			animation-duration: 5.6s;
			img{
				width: 60px;
				transform: rotate(-113deg);
			}
		}
		&_29{
			left: 82.2%;
			animation-delay: 1.8s;
			animation-duration: 4.4s;
			img{
				width: 48px;
			}
		}
	}
	&__item{
		//animation-duration: 5s;
	}
}
@keyframes falls {
    from {
        top: -150px;
    }
    to {
        top: 100%;
    }
}
.noscroll{
	overflow: hidden;
}
/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
p{
	font-weight: 300;
}
ul{
	list-style: none;
}
.content{	
	min-width: $min-width;
	text-align:left;
    width: 100%;
	order: 2;
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;
}
.main-content{
	padding-top: 120px;
	position: relative;
}
.main-screen-bg{	
	padding-top: 95px;
	padding-bottom: 98px;
	//background-image: url('../img/main-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	overflow: hidden;
	svg{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		min-width: 100%;
		min-height: 100%;
		height: auto;
		stroke-dasharray: 2000;
  		stroke-dashoffset: 2000;
	}
}
body:not(.loaded) .main-screen-bg{
	svg{			
		animation: dash 2s linear;			
		animation-fill-mode: forwards;
	}
}

.main-screen{
	//min-height: 100vh;
	img{
		width: 1440px;
		max-width: 100%;
		display: block;
		margin: 0 auto;

	}
	.button-nav{
		position: absolute;
		right: 40px;
		top: -65px;
		z-index: 99;
		&.axctive{
			z-index: 119;
		}
	}
	.wrapper{
		padding-left: 140px;
		padding-right: 140px;
		position: relative;
		z-index: 2;
	}
}
.main-screen-slider {
	&__item{
		width: 100%;
	}
	img{
		width: 100%;
	}
}
.slider-item{
	&__top{
		display: flex;
		align-items: center;
		margin-bottom: 25px;
	}
	&__logo{
		width: 192px;
		&_left{
			width: 134px;
			margin-top: 10px;
		}
	}
	&__top-text{
		flex: 1;
		padding: 0 25px 0 21px;
	}
	&__bottom{
		display: flex;
		flex-direction: column;
		padding-right: 7px;
	}
	&__row{
		display: flex;
		align-items: center;
		margin-top: -20px;
		padding-right: 10px;
		margin-left: -5px;
		.slider-item__bottom-text{
			padding: 0 28px 0 23px;
			flex: 1;
			margin-bottom: 0;
			img{
				width: auto;
			}
		}
		.logo-horizontal{
			margin-top: -8px;
		}
	}
	&__bottom-text{
		padding: 0 23px 0 20.4%;
		margin-bottom: 14px;
	}
	img{
		display: block;
		max-width: 100%;
	}
}
.logo-horizontal{
	width: 296px;
}
.year-slider{
	width: 55px;
	height: 55px;
	border: 2px solid #fff;
	font-size: 33px;
	line-height: 48px;
	font-weight: 300;
	color: #fff;
	border-radius: 50%;
	text-align: center;
}
.participants{
	display: flex;
	align-items: flex-start;
	margin-left: -8px;
	margin-bottom: 39px;
	position: relative;
	&__item{
		margin-right: -2%;
		width: 17%;
		&:nth-child(odd){
			.participants__name{
				color: #254aa5;
			}
		}
	}
	&__img{
		display: block;
		width: 100%;
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 14px;
			top: -5px;
			width: calc(100% - 36px);
			height: 100%;
			transform: skewX(-12deg);
			background-color: #ed1c24;
		}
		img{
			display: block;
			max-width: 100%;
			position: relative;
			z-index: 2;
		}
	}
	&__name{
		position: relative;
		z-index: 4;
		margin-left: 1.7vw;
		font-family: $title-font-family;
		font-style: italic;
		font-weight: 900;
		text-transform: uppercase;
		color: #ffffff;
		letter-spacing: 1px;
		font-size: 2.15vw;
		line-height: 2.1vw;
		margin-top: 5px;
		span{
			display: block;
			white-space: nowrap;
		}
		img{
			display: block;
			max-width: 100%;
		}
		&_big{
			font-family: $title-font-family;
			font-style: italic;
			font-weight: 900;
			text-transform: uppercase;
			color: #ed1c24;
			letter-spacing: 0.68px;
			font-size: 3.6vw;
			line-height: 3.6vw;
			position: relative;
			margin-top: -30px;
			margin-left: 4px;
			&:before{
				content: attr(data-content);
				color: #fff;
				position: absolute;
				left: 4px;
				top: 0;
				z-index: -2;
			}			
		}
		&_2{
			margin-left: 1.36vw;
		}
		&_3{
			width: 21vw;
			margin-left: 8px;
			text-align: center;
			margin-left: -6.6vw;
			margin-right: -6.35vw;
		}

	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		left: -0.8vw;
		bottom: 3px;
		height: 4.3vw;
		background-color: #ed1c24;
		width: calc(100% - 0.8vw);
		transform: skewX(-12deg);
	}
}
.slider-item__main{
	margin-bottom: 7px;
}
.events{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: -7px;
	&__item{
		margin-bottom: 9px;
		font-size: 41px;
		line-height: 45px;
		font-family: $title-font-family;
		font-style: italic;
		font-weight: 900;
		text-transform: uppercase;
		color: #254aa5;
		padding: 9px 17px 0;
		height: 61px;
		position: relative;
		letter-spacing: 0.35px;
		white-space: nowrap;
		&:last-child{
			margin-bottom: 0;
		}
		span{
			position: relative;
			z-index: 2;
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			transform: skewX(-12deg);

		}
		&_red{
			color: #ed1c24;
		}
		&:nth-child(2){
			margin-left: -14px;
		}
		&:nth-child(3){
			margin-left: -28px;
		}
	}
}






















.owl-dots{
	position: absolute;
	right: -80px;
	top: 50%;
	transform: translateY(-50%);

}

.owl-dots button.owl-dot{
	display: block;
	margin-bottom: 20px;
	&:last-child{
		margin-bottom: 0;
	}

	border: 2px solid #FFFFFF;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	padding: 0;
	position: relative;
	transition: all 0.3s;
	span{
		transition: all 0.3s;
		background: #FFFFFF;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -3px;
		margin-top: -3px;
		transform: scale(0)
	}
	&:hover{
		border-color: #6EA2D7;
		span{
			background-color: #6EA2D7;
		}
	}
	&.active{
		span{
			transform: scale(1);
		}
	}
}
.open-nav{
	.box-registration.fixed{
		z-index: 99;
	}
	.button-nav{
		transform: none!important;
	}
}
.box-registration{
	background-color: #fff;
	.wrapper{
		padding-right: 40px;
		padding-top: 60px;
		padding-bottom: 38px;
	}
	&.fixed{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 105;
		transition: all 0.3s;
		.next-srceen{
			display: none;
		}
		&.registration-hidden{
			bottom: 0px;
		}
		&.open-form{
			bottom: 0;
		}
	}
}
.next-srceen{
	position: absolute;
	left: 60px;
	top: 68px;
}
.icon-arrow{
	display: block;
	width: 20px;
	height: 20px;
	border: 2px solid #E5E5E5;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
	transition: all 0.3s;
}
a:hover{
	.icon-arrow{
		border-color: #6EA2D7;
	}
}
.registration{
	&__title{
		color: #1B3C7F;
		font-size: 30px;
		line-height: 41px;
		font-family: $title-font-family;
		font-style: italic;
		font-weight: 900;
		text-transform: uppercase;
		width: 610px;
		span{
			display: block;
		}
	}
	&__row{
		display: flex;
		align-items: flex-start;
	}
	&__input{
		border: none;
		background-color: transparent;
		border-bottom: 2px solid #1B3C80;
		color: #1B3C80;
		font-size: 30px;
		line-height: 39px;
		font-family: $title-font-family;
		font-style: italic;
		font-weight: 900;
		text-transform: uppercase;
		@include placeholder-color(#E5E5E5);
		width: 100%;
		&.error{
			border-bottom-color: #E20E18;
		}
	}
	&__col-input{
		padding-right: 40px;
		width: 420px;
	}
	&__link{
		color: #6EA2D7;
		border-bottom: 2px solid #6EA2D7;
		font-size: 21px;
		line-height: 25px;
		position: relative;top: -5px;

		&:hover{
			color: #1B3C80;
			border-bottom-color: #1B3C80;
		}
	}
}
label.error{
	color: #E20E18;
	font-size: 16px;line-height: 20px;
	display: block;
	text-shadow: 0 0;
	margin-top: 9px;
}
.btn{
	display: inline-block;
	vertical-align: top;
}
.btn-blue{
	background: #1B3C80;
	height: 60px;
	border-radius: 30px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 25px;
	font-family: $title-font-family;
	font-style: italic;
	font-weight: 900;
	text-transform: uppercase;
	border: none;
	padding: 0px 63px 0;
	transition: all 0.3s;
}
.web .btn-blue:hover{
	background: #6EA2D7;
}
.event-row{
	background-image: url('../img/event.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	margin-bottom: -1px;
	padding: 79px 0 206px;
	position: relative;
	&:before{
		content: '';
		display: block;
		position: absolute;
		left: 0;bottom: 0;
		background-color: #6DA1D7;
		width: 100%;
		//height: 250px;
	}
	.wrapper{
		z-index: 2;
	}
}
.event-program{
	max-width: 600px;
	margin-bottom: 130px;
}
.schedule{
	max-width: 510px;
	margin-top: 33px;
	&__item{
		display: flex;
		align-items: flex-start;
		margin-bottom: 15px;
		color: #fff;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__time{
		width: 101px;
		letter-spacing: 0.5px;
		font-size: 21px;
		line-height: 25px;
		white-space: nowrap;
		text-shadow: 0 0;
	}
	&__title{
		width: calc(100% - 101px);
		font-size: 21px;
		line-height: 29px;
		padding-left: 21px;
	}
}
.marquee{
	font-family: $title-font-family;
	font-style: italic;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 5.6vw;
	line-height: 6vw;
	white-space: nowrap;
	color: #E20E18;
	position: relative;
	z-index: 2;
	&_white{
		color: #fff;
	}
}
.item{
	width: 575px;
	padding: 10px 10px;
}
.video-slider{
	margin: 0 -10px;
	margin-top: 24px;
	margin-bottom: 179px;
	&__item{
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 10px;
			top: 10px;
			background: #E20E18;
			width: calc(100% - 20px);
			height: 400px;
			transition: all 0.3s;
		}
		&:hover{
			&:before{
				left: 0;
				top: 0;
			}
		}
	}
	&__card{
		width: 100%;
		height: 400px;
		background: linear-gradient(0deg, #1E3B81, #1E3B81), #1B3C7F;
		position: relative;
		margin-bottom: 9px;
	}
	&__play{
		width: 270px;
		height: 270px;
		font-family: $title-font-family;
		font-style: italic;
		font-weight: 900;
		text-transform: uppercase;
		font-size: 30px;
		line-height: 35px;
		color: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -135px;
		margin-top: -135px;
		border-radius: 50%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover{
			.video-slider__img{
				transform: scale(0.89);
			}
		}
	}
	&__text{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		z-index: 3;
	}
	&__img{
		display: block;
		width: 100%;
		height: 100%;		
		border-radius: 50%;
		transition: all 0.3s;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(27,60,127,0.75);
			border: 2px solid #fff;
			border-radius: 50%;
		}

	}
	&__title{
		font-family: $title-font-family;
		font-style: italic;
		font-weight: 900;
		text-transform: uppercase;
		font-size: 30px;
		line-height: 35px;
		color: #fff;
	}
}
.advantages{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0 -10px 92px;
	padding-right: 0px;
	position: relative;
	z-index: 2;
	&__item{
		padding: 0 10px;
		font-family: $title-font-family;
		font-style: italic;
		font-weight: 900;
		text-transform: uppercase;
	}
	&__count{
		color: #E20E18;
		font-size: 96px;
		line-height: 100px;
		margin-bottom: 20px;
	}
	&__title{
		color: #FFFFFF;
		font-size: 30px;
		line-height: 36px;
	}
}
.blue-section{
	background-color: #6DA1D7;
}

.video-slider .owl-stage-outer{
	overflow: visible;
}
@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash2 {
  from {
    stroke-dashoffset: 2400;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.main-nav{
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #fff;
	top: 0;
	transition: background 1.5s;
	padding-top: 150px;
	padding-bottom: 70px;
	will-change: transform;
	opacity: 0;
	z-index: -1;
	visibility: hidden;
	&.show-nav{	
		background-color: #1B3C7F;
		opacity: 1;
		z-index: 100;
		visibility: visible;
	}
	.wrapper{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 100%;
	}
	svg{
		width: 100%;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		opacity: 0;
		transition: all  1.3s;
		stroke-dasharray: 2000;
  		stroke-dashoffset: 2000;
	}
}
.line-game{
	display: block;
	position: absolute;
	bottom: -180px;
	right: 0;
	width:  600px;
	height: auto;
	svg{
		width: 100%;
		height: 100%;	
		
	}
}
.web .line-game svg{
	stroke-dasharray: 2400;
	stroke-dashoffset: 2400;
	animation-delay: 2s;
}
.ios .line-game{
	visibility: visible!important;
}
.web .line-game.animated{
	svg{
		animation: dash 1.5s linear;			
		animation-fill-mode: forwards;
	}
}
.main-nav-list{
	&__item{
		display: block;
		margin-bottom: 25px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__link{
		color: #fff;
		font-size: 96px;
		line-height: 100px;
		font-family: $title-font-family;
		font-style: italic;
		font-weight: 900;
		text-transform: uppercase;
		display: flex;
		&:hover{
			color: #E20E18;
			transition: all 0.3s 0s;
			span{
				transition: all 0.3s 0s!important;
			}
		}
		span{
			transform: translateY(150%);
			opacity: 0;
			transition: all  0.8s;
			
		}
		.char10{
			min-width: 20px;
		}
	}
}
.show-nav{
	.main-nav-list__link span{
		transform: translateY(0);
		opacity: 1;
		&:nth-child(1){
			transition-delay: 0.1s;
		}
		&:nth-child(2){
			transition-delay: 0.14s;
		}
		&:nth-child(3){
			transition-delay: 0.18s;
		}
		&:nth-child(4){
			transition-delay: 0.22s;
		}
		&:nth-child(5){
			transition-delay: 0.26s;
		}
		&:nth-child(6){
			transition-delay: 0.3s;
		}
		&:nth-child(7){
			transition-delay: 0.34s;
		}
		&:nth-child(8){
			transition-delay: 0.36s;
		}
		&:nth-child(9){
			transition-delay: 0.4s;
		}
		&:nth-child(10){
			transition-delay: 0.44s;
		}
		&:nth-child(11){
			transition-delay: 0.48s;
		}
		&:nth-child(12){
			transition-delay: 0.52s;
		}
		&:nth-child(13){
			transition-delay: 0.56s;
		}
		&:nth-child(14){
			transition-delay: 0.6s;
		}
		&:nth-child(15){
			transition-delay: 0.64s;
		}
		&:nth-child(16){
			transition-delay: 0.68s;
		}
		&:nth-child(17){
			transition-delay: 0.72s;
		}
	}
	.main-nav-link{
		transform: translateY(0);
		opacity: 1;	
		transition: all  0.3s 1.3s;
	}
	&.main-nav svg{
		opacity: 1;		
		transition: all  0.3s;
		animation: dash 1.5s linear;
	}
	&.show-nav-end{
		svg{
			animation: none;
			stroke-dasharray: 0;
			stroke-dashoffset: 0;
			transition: none;
		}
	}
}

.main-nav-link{
	color: #FFFFFF;
	font-size: 30px;
	line-height: 35px;
	font-family: $title-font-family;
	font-style: italic;
	font-weight: 900;
	text-transform: uppercase;
	border-bottom: 2px solid #FFFFFF;
	margin-top: auto;
	transform: translateY(150%);
	opacity: 0;
	
	&:hover{
		color: #6DA1D7;
		border-bottom-color: #6DA1D7;
	}
}

.popup{
   position:absolute;
   left:-9999px;top:-9999px;
   opacity:0;
}
.window-open{
	width:796px;max-width:100%;
	background:#1B3C7F;
	position:relative;
	padding:0px;
	background-image: url('../img/popup-bg.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	min-height: 497px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	line-height: 35px;
	font-family: $title-font-family;
	font-style: italic;
	font-weight: 900;
	text-transform: uppercase;
	border: 2px solid #FFFFFF;
}
.window-open-cont{	
	max-width: 400px;
	margin: 0 auto;
	padding-top: 136px;
	padding-left: 10px;
	padding-right: 10px;
}
.cursor{
	position: absolute;
	width: 80px;
	height: 80px;
	top: -50%;
	left: -50%;
	margin: -40px 0 0 -40px;
	border-radius: 50%;
	background-color: white;
	transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
	z-index: 99999;
	pointer-events: none;
	border: 2px solid #fff;
	background-color: transparent;
	span{
		display: none;
	}
	&.is-moving{
		width: 40px;
		height: 40px;
		transition: all 0.3s;
		span{
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #fff;
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			left: -15px;
			top: 50%;
			margin-top: -3px;
			width: 6px;
			height: 6px;
			border: 2px solid #fff;
			border-right: none;
			border-bottom: none;
			transform: rotate(-45deg);
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			right: -15px;
			top: 50%;
			margin-top: -3px;
			width: 6px;
			height: 6px;
			border: 2px solid #fff;
			border-right: none;
			border-bottom: none;
			transform: rotate(-131deg) scale(1,-1);
		}

	}
	&.drag{
		width: 30px;
		height: 30px;
	}

}
.ios .cursor{
	display: none;
}
.anim-row{
	display: block;
	overflow: hidden;
	&.animated{
		.anim-text{
			transform: translateY(0);
		}
	}
}
.anim-text{
	display: block;
	transform: translateY(100%);
	transition: all 0.5s 0.25s;
}
.anim-row+.anim-row .anim-text{
	transition-delay: 0.30s;
}
@media screen and (max-height: 920px) and (min-width: 1024px) {
	.main-screen-bg{
		padding-top: 65px;
		padding-bottom: 35px;
	}
	.box-registration .wrapper{
		padding-top: 50px;
		padding-bottom: 28px;
	}
	.main-screen .button-nav{
		top: -20px;
	}
}
@media screen and (min-width: 1441px) {
	.participants__name{
		font-size: 35px;
		line-height: 35px;
		width: auto;
		&_1{
			margin-left: 5px;
		}
		&_2{
			margin-left: 12px;
			margin-right: -15px;
		}
	}
	.participants__name_3{
		margin-left: -210px;
		margin-right: -140px;
	}
	.participants:before{
		height: 72px;
		left: -15px;
		width: calc(100% - 10px);
	}
}
.ios .button-nav{
	transform: none!important;
}
@media screen and (max-height: 768px) and (min-width: 1024px) {
	.box-registration .wrapper{
		padding-top: 30px;
	}
}
@media screen and (max-height: 920px) and (min-width: 1024px) and (max-width: 1300px) {
	.main-screen .button-nav{
		top: -60px;
	}
}
@media screen and (max-width: 1400px) {
	.schedule{
		max-width: 460px;
	}
}
	
@media screen and (max-width: 1300px) {
	.wrapper{
		padding: 0 40px;
	}
	.main-screen .wrapper{
		padding-left: 40px;
		padding-right: 40px;
	}
	.owl-dots{
		right: -23px;
	}
	.box-registration .wrapper{
		padding-left: 80px;
		padding-top: 40px;
		padding-bottom: 28px;
	}
	.next-srceen{
		left: 40px;
	}
	.registration__title{
		font-size: 20px;
		line-height: 29px;
	}
	.registration__link{
		font-size: 16px;
		line-height: 20px;
	}
	h2{
		font-size: 80px;
		line-height: 80px;
	}
	.marquee{
		/*font-size: 80px;
		line-height: 80px;*/
	}
	.advantages__count{
		font-size: 80px;
		line-height: 85px;
	}
	.main-nav-list__link{
		font-size: 80px;
		line-height: 85px;
	}
}

@media screen and (max-width: 1200px) {
	.item{
		width: 450px;
	}
	.video-slider__card{
		height: 350px;
	}
	.video-slider__play{
		width: 230px;
		height: 230px;
		margin-left: -115px;
		margin-top: -115px;
	}
	.video-slider__item:before{
		height: 350px;
	}
	.advantages__title{
		font-size: 26px;
	}
	.registration__row{
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	.registration__title{
		width: 100%;
		margin-bottom: 10px;
	}
	.registration__link{
		top: -2px;
	}
	.preloader-screen__logo{
		width: 250px;
		img{
			display: block;
			width: 100%;
		}
	}
	.equipment__item_12,
	.equipment__item_12,
	.equipment__item_18,
	.equipment__item_12,
	.equipment__item_26,
	.equipment__item_9,
	.equipment__item_21,
	.equipment__item_6{
		display: none;
	}
	.events__item{
		font-size: 34px;
	}
	.event-row{
		background-size: contain;
		background-position: center bottom;
	}
	.registration__title span{
		display: inline;
	}
}

@media screen and (max-width: 1100px){
	.events__item{
		font-size: 28px;
	}
}

@media screen and (max-width: 1023px) {
	.main-screen-bg svg{
		height: 100%;
		width: auto;
	}
	.advantages{
		flex-wrap: wrap;
		justify-content: center;
		&__item{
			margin-bottom: 50px;
			width: 50%;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.main-nav-list__link{
		font-size: 71px;
	}
	.slider-item__top{
		flex-wrap: wrap;
	}
	.slider-item__logo_right{
		margin-left: auto;
	}
	.slider-item__top-text{
		order: 5;
		width: 100%;
		flex: auto;
		padding: 0;
		margin-top: 15px;
	}
	.logo-horizontal{
		width: 240px;
	}
	.slider-item__main{
		display: block;
	}
	.participants{
		margin-bottom: 25px;
	}
	.events__item{
		margin-left: 0!important;
	}
	.events{
		margin-bottom: 15px;
		padding-left: 8px;
	}
	.line-game{
		width: 60%;
	}
}

@media screen and (min-width: 768px){
	.show-mob{
		display: none!important;
	}
}

@media screen and (max-width: 767px) {
	.hide-mob{
		display: none!important;
	}
	.wrapper{
		padding: 0 16px;
	}
	.advantages__item{
		width: 100%;
	}
	.advantages__count{
		font-size: 64px;
		line-height: 68px;
		margin-bottom: 10px;
	}
	.advantages__title{
		font-size: 20px;
		line-height: 24px;
	}
	.advantages__item{
		margin-bottom: 73px;
	}
	.advantages{
		margin-bottom: 56px;
	}
	.video-slider{
		margin-bottom: 86px;
		margin-top: 0;
	}

	
	h2{
		font-size: 60px;
		line-height: 62px;
	}

	.main-nav-list__link{
		font-size: 45px;
		line-height: 50px;
	}
	.schedule__time,
	.schedule__title{
		font-size: 16px;
		line-height: 22px;
	}
	.schedule{
		margin-top: 5px;
	}
	.schedule__title{
		padding-left: 11px;
	}

	.main-nav-link{
		font-size: 18px;
		line-height: 24px;
	}
	.box-registration .wrapper{
		padding-left: 20px;
		padding-right: 20px;
	}
	.next-srceen{
		display: none;
	}
	.main-content{
		padding-top: 74px;
	}
	.registration__col-input{
		width: 100%;
		padding-right: 0;
		margin-bottom: 15px;
	}
	.registration__input{
		font-size: 20px;
		line-height: 30px;
	}
	.box-registration .wrapper{
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.registration__form{
		position: absolute;
		left: 100%;
		bottom: 0;
		width: 100%;
		background-color: #fff;
		z-index: 1125;
		padding: 20px 16px 16px;
		transition: all 0.3s;
		.btn-blue{
			display: block;
			width: 100%;
		}
		&.show-form{
			left: 0;
		}
		&.show-form-2{
			left: 0;
		}
	}
	.registration__title span{
		display: block;
	}
	.registration__link{
		margin-top: 8px;
		left: 0;
	}
	.noscroll-tablet{
		overflow: hidden;
	}
	.registration__row{
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
	.registration__title{
		font-size: 17px;
		line-height: 22px;
	}
	.registration__link{
		font-size: 14px;
		line-height: 18px;
	}
	input[type="button"], input[type="submit"], button{
		padding-top: 0!important;
	}
	.btn-blue{
		height: 40px;
		border-radius: 20px;
		font-size: 14px;
		padding: 8px 5px 0;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	.registration__col-input{
		position: relative;
	}
	label.error{
		text-align: left;
	}
	.registration__close{
		width: 19px;
		height: 19px;
		display: block;
		position: absolute;
		right: 15px;
		top: 15px;
		span{
			width: 25px;
			height: 2px;
			background-color: #1B3C7F;
			transform: rotate(45deg);
			display: block;
			position: absolute;
			left: -4px;
			top: 8px;
			&:last-child{
				transform: rotate(-45deg);
			}
		}
	}
	.schedule__item{
		display: block;
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.schedule__time{
		width: 100%;
	}
	.schedule__title{
		width: 100%;
		padding-left: 0;
	}
	label.error{
		font-size: 14px;
		line-height: 16px;
	}
	.window-open{
		font-size: 22px;
		line-height: 24px;
		min-height: 300px;
	}
	.window-open-cont{
		padding-top: 70px;
	}
	.preloader-screen__logo{
		width: 100px;
		img{
			display: block;
			width: 100%;
		}
	}
	.equipment__item_13,
	.equipment__item_19,
	.equipment__item_27,
	.equipment__item_10,
	.equipment__item_23,
	.equipment__item_7{
		display: none;
	}
	.equipment__item{
		transform: scale(0.6);
	}
	.main-screen .wrapper{
		padding-left: 15px;
		padding-right: 15px;
	}
	.main-screen-bg{
		padding-top: 62px;
		padding-bottom: 13px;
	}
	.main-screen .button-nav{
		right: 16px;
		top: -55px;
	}
	.owl-dots{
		display: none;
	}
	.slider-item__main{
		display: block;
		margin-bottom: 21px;
	}
	.events{
		margin-left: 0px;
		margin-top: 0;
		padding-left: 5px;
	}
	.events__item{
		font-size: 30px;
		height: 47px;
		line-height: 34px;
		padding: 7px 5px 0;
		letter-spacing: 0.41px;
		margin-bottom: 5px;
		margin-left: 0;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.events__item:nth-child(3),
	.events__item:nth-child(2){
		margin-left: 0;
	}
	.participants{
		margin-bottom: 8px;
		padding-left: 9.2%;
		flex-wrap: wrap;
	}

	.participants__item_big,
	.participants__item{
		margin-right: -3.5%;
		width: 25.4%;
		margin-bottom: 8px;
		margin-top: 0;
		&:first-child{
			margin-left: 8%;
		}
	}
	.participants__item:first-child .participants__name{
		color: #254aa5;
	}
	.participants:before{
		left: 1.5%;
		height: 35px;
		width: 84%;
	}
	.participants:after{
		content: '';
		transform: skewX(-12deg);
		background-color: #ed1c24;
		position: absolute;
		height: 29px;
		left: 15%;
		width: 78%;
		top: 35%;
	}
	.participants__name_3{
		margin-left: -4vw;
		margin-right: -5vw;
		width: 24vw;
	}
	.participants__name_big{
		margin-top: 0;
		&:before{
			display: none;
		}
	}
	.participants__item_big .participants__img:before,
	.participants__img:before{
		width: calc(100% - 21px);
		left: 8px;
		top: -3px;
	}
	.participants__name{
		font-size: 15.6px;
		line-height: 15px;
		margin-top: 0;
	}
	.slider-item__top{
		margin-bottom: 1px;
	}
	.slider-item__row{
		padding-right: 0;
		margin-top: -7px;
	}
	.year-slider{
		width: 18px;
		height: 18px;
		line-height: 16px;
		font-size: 10px;
		border-width: 1px;
	}
	.slider-item__bottom-text{
		padding: 0;
		margin-bottom: 8px;
	}
	.slider-item__logo_left{
		margin-left: 33.4%;
	}
	.slider-item__row .logo-horizontal{
		position: absolute;
		left: 17px;
		top: 11px;
		width: 22.6%;
		max-width: 115px;
	}
	.slider-item__top-text{
		padding-left: 41.9%;
		margin-right: 0px;
		margin-top: 41px;
	}
	.slider-item__row .slider-item__bottom-text{
		padding: 0 10.2% 0 16.0%;
	}
	.event-program{
		margin-bottom: 114px;
	}
	.main-screen-bg{
		//background-image: url("../img/main-bg-mob.png");
	}
	.registration__title{
		text-align: left;
	}
	.line-game{
		bottom: -67px;
	}
	.box-registration.fixed.registration-hidden{
		bottom: 0;
	}
}
@media screen and (max-width: 767px) and (min-width: 480px) {
	.slider-item__logo{
		width: 150px;
	}
	.slider-item__logo_left{
		width: 110px;
	}
}
@media screen and (max-width: 480px) {
	.item{
		width: 230px;
	}
	.video-slider__item:before,
	.video-slider__card{
		height: 200px;
	}
	.video-slider__title{
		font-size: 20px;
		line-height: 22px;
	}
	.video-slider__play{
		width: 100px;
		height: 100px;
		margin-left: -50px;
		margin-top: -50px;
		font-size: 18px;
	}
	h2{
		font-size: 32px;
		line-height: 33px;
	}

	.main-nav-list__link{
		font-size: 28px;
		line-height: 32px;
	}
	.slider-item__logo{
		width: 100px;
		&_right{
			margin-top: 10px;
		}
	}
	.slider-item__logo_left{
		width: 67px;
	}

}
@media screen and (max-width: 600px) {
	.events__item{
		font-size: 24px;
		height: 37px;
		line-height: 28px;
		padding: 5px 5px 0;
	}
}
@media screen and (max-width: 450px) {
	
	
	.event-bg{
		background-image: url('../img/event.png');
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: 100% auto;
	}
	.event-program{
		margin-bottom: 40vw;
	}
	.marquee{
		background-color: #6DA1D7;
	}
	
	.event-row{
		padding-top: 21px;
		padding-bottom: 95px;
		background-position: center bottom;
		background-image: none;
	}
	
	.event-row:before{
		height: 120px;
	}
}

@media screen and (max-height: 350px) {
	.main-nav{
		padding-top: 80px;
		padding-bottom: 20px;
	}
	.main-nav-list{
		margin-bottom: 20px;
	}
	.main-nav-list__item{
		margin-bottom: 5px;
	}

}