section {
	opacity: 0;
}
.prev {
	display: none;
}
.next {
	display: none;
}
.mainSlide {
	height: 100%;
}
.slide-3 {
	padding-top: 10em;
}
.header__title span {
	font-size: 26.7em;
	line-height: 1;
}

.header__sub-title {
	margin-top: -5em;
}

.header__sub-title span {
	font-size: 7.1em;
	line-height: 0.8;
	padding-left: 6.86em;
}

.slide-content-left {
	background: #fcc0a5;
	padding: 1.8em 2.2em 1.2em;
	width: 35.1em;
	border-bottom: 6em solid #7f7f7f;
	margin-left: 2.1em;
	margin-top: -4.1em;
}
.slide-content-left p {
	font-weight: 700;
	font-size: 3.2em;
	line-height: 1.2;

	color: #ffffff;
}
.perceng {
	color: #ffffff;
	position: relative;
	display: inline-block;
	margin-bottom: 1em;
	margin-top: 0.7em;
}
.perceng div {
	font-weight: 400;
	font-size: 21.3em;
	line-height: 0.8;
}
.perceng span {
	position: absolute;
	right: -0.8em;
	top: -0.4em;
	font-weight: 700;
	font-size: 6.7em;
	line-height: 1;
	padding: 0.07em;
	background: #fcc0a5;
	color: #ffffff;
}
.shema {
	position: absolute;
	top: 41.3em;
	left: 60.7em;
	width: 61.1em;
}
.shema__title {
	color: #7f7f7f;
	text-align: center;
	border-bottom: 0.3em solid #fcc0a5;
	padding-bottom: 2em;
	margin-bottom: 2.6em;
}
.shema__title span {
	font-weight: 700;
	font-size: 3.2em;
	line-height: 1.2;
}
.shema__img {
	width: 61.1em;
	height: 33em;
}
.shema-list {
	display: flex;
	margin-bottom: 0.8em;
}
.shema-list__item {
	font-weight: 700;
	font-size: 1.9em;
	line-height: 1.2;
	color: #595959;
	text-align: center;
	width: 25%;
}
.slide-right {
	position: absolute;
	right: 0;
	top: 0;
	width: 60em;

	padding: 19.3em 10em 13.3em 4.5em;
	display: flex;
	flex-wrap: wrap;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vw;
		background: #fcc0a5;
	}
}
.slide-right__col {
	width: 50%;
	padding: 0 1em;
	position: relative;
}
.slide-right__title {
	color: #ffffff;
	text-align: center;
	margin-bottom: 2.6em;
	position: relative;
	span {
		font-weight: 700;
		font-size: 2.7em;
		display: block;
	}
}
.slide-right__age {
	color: #ffffff;
	width: 100%;
	text-align: center;
	margin-bottom: -4em;
	position: relative;
}
.slide-right__age span:first-child {
	font-weight: 700;
	font-size: 3.2em;
	line-height: 1;
}
.slide-right__age span:last-child {
	font-size: 6.7em;
	line-height: 0.9;
	display: block;
}
.slide-right__age::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0.3em;
	height: 31.1em;
	background: #fff;
}

.slide-right__age--2:before {
	height: 10em;
}

.slide-right__img {
	position: relative;
	width: 12.1em;
	margin: 0 auto 5.3em;
	background: #fff;
	cursor: pointer;
}

.slide-right__img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transition: all 0.3s;
}
.slide-right__img.active::after {
	transform: scale(0);
}
.slide-right__img.active .hand {
	opacity: 0;
}
.hand {
	z-index: 3;
}

.slide-right__img img {
	display: block;
}

.slide-right__img::before {
	content: '';
	position: absolute;
	top: -4.3em;
	left: 0;
	width: 100%;
	height: 0.3em;
	background: #fff;
}
.slide-right__img + .slide-right__img::before {
	display: none;
}
