section {
	opacity: 0;
}
.prev {
	display: none;
}
.next {
	display: none;
}
.mainSlide {
	height: 100%;
}
.slide-8 {
	background-image: url('images/sl8-bg.jpg');
	background-size: auto 108em;
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-top: 12.5em;
}
.header {
	margin-bottom: 6.7em;

	&__title {
		span {
			font-size: 18.7em;
		}
	}

	&__sub-title {
		margin-top: -3.5em;
		padding-left: 30em;
	}
}

.perceng-list {
	margin-left: -3.4em;
	&__item {
		display: flex;
		align-items: center;
	}

	&__count {
		width: 29em;
		text-align: right;
		span {
			font-weight: 400;
			font-size: 12.5em;
			line-height: 1.05;
			color: #fcc0a5;
		}
		span + span {
			font-size: 9.6em;
		}
	}

	&__text {
		padding-left: 4.9em;
		padding-top: 1.7em;
		span {
			font-weight: 700;
			font-size: 3.2em;
			color: #7f7f7f;
		}
	}
}
