
@font-face {
	font-family:'Plumb';
	src: url('../fonts/Plumb-Bold.eot');
	src: url('../fonts/Plumb-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Plumb-Bold.woff2') format('woff2'),
	url('../fonts/Plumb-Bold.woff') format('woff'),
	url('../fonts/Plumb-Bold.svg#Plumb-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}
@font-face {
	font-family:'Plumb';
	src: url('../fonts/Plumb-Regular.eot');
	src: url('../fonts/Plumb-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Plumb-Regular.woff2') format('woff2'),
	url('../fonts/Plumb-Regular.woff') format('woff'),
	url('../fonts/Plumb-Regular.svg#Plumb-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}
@font-face {
	font-family:'Plumb';
	src: url('../fonts/Plumb-Black.eot');
	src: url('../fonts/Plumb-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Plumb-Black.woff2') format('woff2'),
	url('../fonts/Plumb-Black.woff') format('woff'),
	url('../fonts/Plumb-Black.svg#Plumb-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?s6kq8a');
  src:  url('../fonts/icomoon.eot?s6kq8a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?s6kq8a') format('truetype'),
    url('../fonts/icomoon.woff?s6kq8a') format('woff'),
    url('../fonts/icomoon.svg?s6kq8a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-arrow-bottom:before {
  content: "\e902";
}
.icon-fb:before {
  content: "\e903";
}
.icon-git:before {
  content: "\e904";
}
.icon-inst:before {
  content: "\e905";
}
.icon-logo-part:before {
  content: "\e906";
  color: #fff;
}
.icon-mail:before {
  content: "\e907";
}
.icon-quote:before {
  content: "\e908";
}
