section {
	opacity: 0;
}
.prev {
	display: none;
}
.next {
	display: none;
}

.content {
	display: flex;

	&__img {
		width: 45.4em;
	}

	&__product {
		flex: 1;
		padding-left: 6.4em;
	}
}
.pacient {
	background: #ecae49;
	height: 78em;
	padding: 0 3em;
	&__img {
		display: block;
		margin-bottom: -1.9em;
		img {
			position: relative;
			top: -4em;
		}
	}

	&__name {
		text-align: center;
		span {
			font-weight: 400;
			font-size: 6em;
			color: #ffffff;
		}
	}

	&__age {
		text-align: center;
		margin-bottom: 1.4em;
		span {
			font-weight: 700;
			font-size: 2.3em;
			color: #ffffff;
		}
	}
}
.pacient-list {
	padding-left: 2em;
	&__item {
		position: relative;
		padding-left: 2.5em;
		margin-bottom: 1.5em;
		&:last-child {
			bottom: 0;
		}
		&::before {
			content: '•';
			position: absolute;
			top: 0.2em;
			left: 0;
			font-weight: 400;
			font-size: 2.2em;
			color: #ffffff;
		}
		span {
			font-weight: 400;
			font-size: 2.5em;
			color: #ffffff;
		}
	}
}

.slots {
	display: flex;
	justify-content: space-between;
	height: 36em;
	margin-bottom: 10px;

	&__item {
		width: 27em;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding: 1em 1em 4em;
		position: relative;

		&:not(:first-child) {
			pointer-events: none;
		}
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1.7em;
			background: #ecae49;
		}

		img {
			max-height: 100%;
			opacity: 0;
		}
		&.active {
			img {
				filter: drop-shadow(0 0 2.5em rgba(60, 179, 113, 0.8));
			}
			.plus {
				opacity: 0;
			}
		}
		&.half-active {
			img {
				filter: drop-shadow(0 0 2.5em rgba(255, 165, 0, 0.8));
			}
			.plus {
				opacity: 1;
			}
		}
		&.prod1 {
			img.prod1 {
				opacity: 1;
			}
		}
		&.prod2 {
			img.prod2 {
				opacity: 1;
			}
		}
		&.prod3 {
			img.prod3 {
				opacity: 1;
			}
		}
		&.prod4 {
			img.prod4 {
				opacity: 1;
			}
		}
		&.prod5 {
			img.prod5 {
				opacity: 1;
			}
		}
		&.prod6 {
			img.prod6 {
				opacity: 1;
			}
		}
		&.prod7 {
			img.prod7 {
				opacity: 1;
			}
		}
		&.prod8 {
			img.prod8 {
				opacity: 1;
			}
		}
		&.prod9 {
			img.prod9 {
				opacity: 1;
			}
		}
		&.prod10 {
			img.prod10 {
				opacity: 1;
			}
		}
		&.prod11 {
			img.prod11 {
				opacity: 1;
			}
		}
		&.prod12 {
			img.prod12 {
				opacity: 1;
			}
		}
		&.prod13 {
			img.prod13 {
				opacity: 1;
			}
		}
		&.prod14 {
			img.prod14 {
				opacity: 1;
			}
		}
		&.prod15 {
			img.prod15 {
				opacity: 1;
			}
		}
		&.prod16 {
			img.prod16 {
				opacity: 1;
			}
		}
		&.prod17 {
			img.prod17 {
				opacity: 1;
			}
		}
		&.prod18 {
			img.prod18 {
				opacity: 1;
			}
		}
		&.prod19 {
			img.prod19 {
				opacity: 1;
			}
		}
		&.prod20 {
			img.prod20 {
				opacity: 1;
			}
		}
	}
}
.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	height: 25.5em;
	padding: 2em 0.5em;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 8em;
		background: linear-gradient(
			180deg,
			#ffffff 0%,
			#fefefe 3.45%,
			#fefefe 6.9%,
			#fefefe 10.34%,
			#fefefe 13.79%,
			#fdfdfe 17.24%,
			#fdfdfd 20.69%,
			#fcfcfd 24.14%,
			#fcfcfc 27.59%,
			#fbfbfc 31.03%,
			#fafafb 34.48%,
			#fafafa 37.93%,
			#f9f9fa 41.38%,
			#f8f8f9 44.83%,
			#f7f7f8 48.28%,
			#f6f6f7 51.72%,
			#f5f5f6 55.17%,
			#f3f3f5 58.62%,
			#f2f2f4 62.07%,
			#f1f1f3 65.52%,
			#f0f0f2 68.97%,
			#eeeef1 72.41%,
			#ededf0 75.86%,
			#ebebee 79.31%,
			#e9e9ed 82.76%,
			#e8e8ec 86.21%,
			#e6e6ea 89.66%,
			#e4e4e9 93.1%,
			#e2e2e7 96.55%,
			#e1e1e6 100%
		);
	}
	&__item {
		width: 6.5em;

		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.2em;

		&--1 {
			width: 6.9em;
		}

		&--2 {
			width: 6.2em;
		}

		&--3 {
			width: 4.4em;
		}

		&--4 {
			width: 5.95em;
		}
		&--5 {
			width: 5.45em;
		}
		&--6 {
			width: 5.56em;
		}
		&--7 {
			width: 6.4em;
		}
		&--8 {
			width: 5.55em;
		}
		&--9 {
			width: 5.25em;
		}
		&--10 {
			width: 5.4em;
		}
		&--11 {
			width: 4.4em;
		}
		&--13 {
			width: 7.4em;
		}
		&--15 {
			width: 7.4em;
		}
		&--16 {
			width: 7.4em;
		}
		&--17 {
			width: 7.4em;
		}

		&--18 {
			width: 4em;
		}
		&--19 {
			width: 4.1em;
		}
		&--20 {
			width: 4em;
		}
		&--21 {
			width: 7.4em;
		}
		&--22 {
			width: 7.4em;
		}

		img {
			max-height: 100%;
		}

		&.ui-draggable-disabled {
			transform-origin: top center;
			pointer-events: none;
			transform: scale(1.5);
			opacity: 0;
		}
	}
}

.name-list {
	display: flex;
	justify-content: space-between;
	height: 5em;
	margin-bottom: 2em;

	&__item {
		background: #ecae49;
		width: 27em;
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			color: #fff;
			font-weight: 700;
			font-size: 2.7em;
		}
	}
}

.arrow-list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0em;
	margin-top: 4em;
	&__item {
		width: 27em;

		img {
			width: 10.9em;
			margin: 0 auto;
			display: block;
		}
	}
}

.plus {
	opacity: 0;
	border: 2px solid #000;
	background: #000;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-size: 35px;
}

/*prod size*/

img.prod1 {
	width: 10.8em;
}
img.prod13 {
	width: 14em;
}
img.prod18 {
	width: 7.6em;
}
.slots__item--3 {
	img.prod13 {
		right: 2em;
		bottom: 4.2em;
		position: absolute;
	}
	img.prod19 {
		left: 1em;
		bottom: 4em;
		position: absolute;
	}
	img.prod18 {
		right: 5em;
		bottom: 15em;
		position: absolute;
	}
}
img.prod19 {
	width: 7em;
	margin-left: 3em;
}
