html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Century Gothic", sans-serif;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

p {
	margin: 0;
}

body {
	line-height: 1.2;
	font-family: "Century Gothic";
	font-weight: 400;
	color: #000000;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
}


ol,
ul {
	list-style: none;
}

img {
	border: 0;
	vertical-align: middle;
	display: block;
	max-width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	outline: none !important;
	-webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

b,
strong,
.bold {
	font-weight: 700;
}

i {
	font-style: italic;
}

sup {
	font-size: 60%;
	vertical-align: super;
	line-height: 1;
}

body,
html {
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	font-family: "Century Gothic", sans-serif;
	color: #303030;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

* {
	font-family: "Century Gothic", sans-serif;
}

body {
	min-height: 100vh;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

#pinContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: clamp(1px, 0.925925vh, 0.520833vw);
}

@media screen and (max-width: 1024px) {
	#pinContainer{
		font-size: clamp(1px, 0.818vh, 0.42vw);
	}
}



#slideContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;

}

.prev {
	position: absolute;
	bottom: 5em;
	left: 5em;

	z-index: 5;
	width: 6.8em;
	height: 6.8em;
	cursor: pointer;
}

.next {
	position: absolute;
	bottom: 5em;
	right: 5em;

	z-index: 5;
	width: 6.8em;
	height: 6.8em;
	cursor: pointer;
}


.next svg {
	width: 100%;
	height: 100%;
}

.prev svg {
	width: 100%;
	height: 100%;
}

@media (hover: hover) {

	.next:hover,
	.prev:hover {
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		opacity: 0.6;
	}

	.hand {
		cursor: pointer;
	}
}
.mobile .next {
	width: 20em;
	height: 20em;
	bottom: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.mobile .next svg {
	width: 9em;
	height: 9em;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.mobile .prev {
	width: 20em;
	height: 20em;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.mobile .prev svg {
	width: 9em;
	height: 9em;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
/*main style*/
.slide { 
	padding: 16.2em 13.2em 0;
	min-height: 100%;
	max-width: 192em;
	margin: 0 auto;
	position: relative;
}

.containerBlock {
	height: 100%;
	overflow: hidden;
}

.header__title span {
	font-style: normal;
	font-weight: 400;
	font-size: 12.8em;
	line-height: 1;
	color: #FCC0A5;
}

.header__sub-title span {
	font-weight: 700;
	font-size: 6.9em;
	line-height: 0.8em;
	color: #7F7F7F;
}

.help-inf {
	text-align: center;
	width: 100%;
	margin-top: 3em;
	color: #767171;
}

.help-inf span {
	font-size: 3em;
}


.hand {
	position: absolute;

	width: 4em;
	height: 4em;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(-25deg);
	-ms-transform: translate(-50%, -50%) rotate(-25deg);
	transform: translate(-50%, -50%) rotate(-25deg);

}

.hand:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/hand-pointer.svg);
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-animation: wobble-hor-top 2.5s 3s infinite both;
	animation: wobble-hor-top 2.5s 3s infinite both;
	-webkit-animation-delay: inherit;
	animation-delay: inherit;
}

.delay1 {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

.delay2 {
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

.delay3 {
	-webkit-animation-delay: 4.5s;
	animation-delay: 4.5s;
}

@-webkit-keyframes wobble-hor-top {

	0%,
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transform-origin: left top;
		transform-origin: left top;
	}

	15% {
		-webkit-transform: translateX(-7px) rotate(2deg);
		transform: translateX(-7px) rotate(2deg);
	}

	30% {
		-webkit-transform: translateX(3px) rotate(-2deg);
		transform: translateX(3px) rotate(-2deg);
	}

	45% {
		-webkit-transform: translateX(-3px) rotate(0.9deg);
		transform: translateX(-3px) rotate(0.9deg);
	}

	60% {
		-webkit-transform: translateX(2px) rotate(-0.6deg);
		transform: translateX(2px) rotate(-0.6deg);
	}

	75% {
		-webkit-transform: translateX(-1px) rotate(0.3deg);
		transform: translateX(-1px) rotate(0.3deg);
	}
}

@keyframes wobble-hor-top {

	0%,
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transform-origin: left top;
		transform-origin: left top;
	}

	15% {
		-webkit-transform: translateX(-7px) rotate(2deg);
		transform: translateX(-7px) rotate(2deg);
	}

	30% {
		-webkit-transform: translateX(3px) rotate(-2deg);
		transform: translateX(3px) rotate(-2deg);
	}

	45% {
		-webkit-transform: translateX(-3px) rotate(0.9deg);
		transform: translateX(-3px) rotate(0.9deg);
	}

	60% {
		-webkit-transform: translateX(2px) rotate(-0.6deg);
		transform: translateX(2px) rotate(-0.6deg);
	}

	75% {
		-webkit-transform: translateX(-1px) rotate(0.3deg);
		transform: translateX(-1px) rotate(0.3deg);
	}
}

.panel {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #fff;
	overflow: hidden;
}

.panel.active {
	z-index: 10;
}

.rotateBlock {
	display: none;
}

.logo {
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	pointer-events: none;
}

.vichy-logo {
	position: absolute;
	right: 6em;
	top: 5em;
	width: 27.1em;
	z-index: 10;
}

.logo-top {
	left: 5em;
	top: 5em;
	background-image: url(../images/logo-top.png);
	background-position: left top;
	width: 12.4em;
	height: 25.3em;
	z-index: 111;
}

.logo-bottom {
	right: 2em;
	bottom: 2em;
	background-image: url(../images/logo-bottom.png);
	background-position: right bottom;
	width: 13em;
	height: 27em;
	z-index: 111;
}

.rotateBlock.show {
	display: table;
	width: 100%;
	height: 100%;
	background: -o-linear-gradient(45deg, rgba(88, 182, 213, 1) 0%, rgba(141, 205, 206, 1) 68%, rgba(141, 205, 206, 1) 93%);
	background: linear-gradient(45deg, rgba(88, 182, 213, 1) 0%, rgba(141, 205, 206, 1) 68%, rgba(141, 205, 206, 1) 93%);
	z-index: 99999;
	position: fixed;
	top: 0;
	left: 0;
}

.rotateBlock.show>div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.phoneRotate {
	display: block;
	animation: animationFrames ease-out 4s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	-webkit-animation: animationFrames ease-out 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: animationFrames ease-out 4s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 50% 50%;
	-o-animation: animationFrames ease-out 4s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 50% 50%;
	-ms-animation: animationFrames ease-out 4s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 50% 50%;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

.phoneRotate img {
	display: block;
	margin: 0 auto;
}

.textRotate {
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
}

@keyframes animationFrames {
	0% {
		-webkit-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
		transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
	}

	50% {
		-webkit-transform: rotate(90deg) scaleX(1.00) scaleY(1.00);
		transform: rotate(90deg) scaleX(1.00) scaleY(1.00);
	}

	60% {
		-webkit-transform: rotate(100deg) scaleX(1.00) scaleY(1.00);
		transform: rotate(100deg) scaleX(1.00) scaleY(1.00);
	}

	70% {
		-webkit-transform: rotate(80deg) scaleX(1.00) scaleY(1.00);
		transform: rotate(80deg) scaleX(1.00) scaleY(1.00);
	}

	80% {
		-webkit-transform: rotate(90deg) scaleX(1.00) scaleY(1.00);
		transform: rotate(90deg) scaleX(1.00) scaleY(1.00);
	}

	90% {
		-webkit-transform: rotate(275deg) scaleX(0.00) scaleY(0.00);
		transform: rotate(275deg) scaleX(0.00) scaleY(0.00);
	}

	100% {
		-webkit-transform: rotate(360deg) scaleX(1.00) scaleY(1.00);
		transform: rotate(360deg) scaleX(1.00) scaleY(1.00);
	}
}

@-webkit-keyframes animationFrames {
	0% {
		-webkit-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
	}

	50% {
		-webkit-transform: rotate(90deg) scaleX(1.00) scaleY(1.00);
	}

	60% {
		-webkit-transform: rotate(100deg) scaleX(1.00) scaleY(1.00);
	}

	70% {
		-webkit-transform: rotate(80deg) scaleX(1.00) scaleY(1.00);
	}

	80% {
		-webkit-transform: rotate(90deg) scaleX(1.00) scaleY(1.00);
	}

	90% {
		-webkit-transform: rotate(275deg) scaleX(0.00) scaleY(0.00);
	}

	100% {
		-webkit-transform: rotate(360deg) scaleX(1.00) scaleY(1.00);
	}
}

.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.content__img {
	width: 45.4em;
}
.content__product {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-left: 6.4em;
}
.pacient {
	background: #ecae49;
	height: 78em;
	padding: 0 3em;
}
.pacient__img {
	display: block;
	margin-bottom: -1.9em;
}
.pacient__img img {
	position: relative;
	top: -4em;
}
.pacient__name {
	text-align: center;
}
.pacient__name span {
	font-weight: 400;
	font-size: 6em;
	color: #fff;
}
.pacient__age {
	text-align: center;
	margin-bottom: 1.4em;
}
.pacient__age span {
	font-weight: 700;
	font-size: 2.3em;
	color: #fff;
}
.pacient-list {
	padding-left: 2em;
}
.pacient-list__item {
	position: relative;
	padding-left: 2.5em;
	margin-bottom: 1.5em;
}
.pacient-list__item:last-child {
	bottom: 0;
}
.pacient-list__item::before {
	content: '•';
	position: absolute;
	top: 0.2em;
	left: 0;
	font-weight: 400;
	font-size: 2.2em;
	color: #fff;
}
.pacient-list__item span {
	font-weight: 700;
	font-size: 2.4em;
	color: #fff;
}
.slots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 36em;
	margin-bottom: 1em;
}
.slots__item {
	width: 27em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 1em 1em 4em;
	position: relative;
}
.slots__item::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1.7em;
	background: #ecae49;
}
.slots__item img {
	max-height: 100%;
	opacity: 0;
}
.slots__item.active img {
	-webkit-filter: drop-shadow(0 0 2.5em rgba(60, 179, 113, 0.8));
	filter: drop-shadow(0 0 2.5em rgba(60, 179, 113, 0.8));
}
.slots__item.active .plus {
	opacity: 0;
}
.slots__item.half-active img {
	-webkit-filter: drop-shadow(0 0 2.5em rgba(255, 165, 0, 0.8));
	filter: drop-shadow(0 0 2.5em rgba(255, 165, 0, 0.8));
}
.slots__item.half-active .plus {
	opacity: 1;
}
.slots__item.prod1 img.prod1 {
	opacity: 1;
}
.slots__item.prod2 img.prod2 {
	opacity: 1;
}
.slots__item.prod3 img.prod3 {
	opacity: 1;
}
.slots__item.prod4 img.prod4 {
	opacity: 1;
}
.slots__item.prod5 img.prod5 {
	opacity: 1;
}
.slots__item.prod6 img.prod6 {
	opacity: 1;
}
.slots__item.prod7 img.prod7 {
	opacity: 1;
}
.slots__item.prod8 img.prod8 {
	opacity: 1;
}
.slots__item.prod9 img.prod9 {
	opacity: 1;
}
.slots__item.prod10 img.prod10 {
	opacity: 1;
}
.slots__item.prod11 img.prod11 {
	opacity: 1;
}
.slots__item.prod12 img.prod12 {
	opacity: 1;
}
.slots__item.prod13 img.prod13 {
	opacity: 1;
}
.slots__item.prod14 img.prod14 {
	opacity: 1;
}
.slots__item.prod15 img.prod15 {
	opacity: 1;
}
.slots__item.prod16 img.prod16 {
	opacity: 1;
}
.slots__item.prod17 img.prod17 {
	opacity: 1;
}
.slots__item.prod18 img.prod18 {
	opacity: 1;
}
.slots__item.prod19 img.prod19 {
	opacity: 1;
}
.slots__item.prod20 img.prod20 {
	opacity: 1;
}
.list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 25.5em;
	padding: 2em 0.5em;
	position: relative;
}
.list::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8em;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#ffffff),
		color-stop(3.45%, #fefefe),
		color-stop(6.9%, #fefefe),
		color-stop(10.34%, #fefefe),
		color-stop(13.79%, #fefefe),
		color-stop(17.24%, #fdfdfe),
		color-stop(20.69%, #fdfdfd),
		color-stop(24.14%, #fcfcfd),
		color-stop(27.59%, #fcfcfc),
		color-stop(31.03%, #fbfbfc),
		color-stop(34.48%, #fafafb),
		color-stop(37.93%, #fafafa),
		color-stop(41.38%, #f9f9fa),
		color-stop(44.83%, #f8f8f9),
		color-stop(48.28%, #f7f7f8),
		color-stop(51.72%, #f6f6f7),
		color-stop(55.17%, #f5f5f6),
		color-stop(58.62%, #f3f3f5),
		color-stop(62.07%, #f2f2f4),
		color-stop(65.52%, #f1f1f3),
		color-stop(68.97%, #f0f0f2),
		color-stop(72.41%, #eeeef1),
		color-stop(75.86%, #ededf0),
		color-stop(79.31%, #ebebee),
		color-stop(82.76%, #e9e9ed),
		color-stop(86.21%, #e8e8ec),
		color-stop(89.66%, #e6e6ea),
		color-stop(93.1%, #e4e4e9),
		color-stop(96.55%, #e2e2e7),
		to(#e1e1e6)
	);
	background: linear-gradient(
		180deg,
		#ffffff 0%,
		#fefefe 3.45%,
		#fefefe 6.9%,
		#fefefe 10.34%,
		#fefefe 13.79%,
		#fdfdfe 17.24%,
		#fdfdfd 20.69%,
		#fcfcfd 24.14%,
		#fcfcfc 27.59%,
		#fbfbfc 31.03%,
		#fafafb 34.48%,
		#fafafa 37.93%,
		#f9f9fa 41.38%,
		#f8f8f9 44.83%,
		#f7f7f8 48.28%,
		#f6f6f7 51.72%,
		#f5f5f6 55.17%,
		#f3f3f5 58.62%,
		#f2f2f4 62.07%,
		#f1f1f3 65.52%,
		#f0f0f2 68.97%,
		#eeeef1 72.41%,
		#ededf0 75.86%,
		#ebebee 79.31%,
		#e9e9ed 82.76%,
		#e8e8ec 86.21%,
		#e6e6ea 89.66%,
		#e4e4e9 93.1%,
		#e2e2e7 96.55%,
		#e1e1e6 100%
	);
}
.list__item {
	width: 6.5em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0.2em;
}
.list__item--1 {
	width: 6.9em;
}
.list__item--2 {
	width: 6.2em;
}
.list__item--3 {
	width: 4.4em;
}
.list__item--4 {
	width: 5.95em;
}
.list__item--5 {
	width: 5.45em;
}
.list__item--6 {
	width: 5.56em;
}
.list__item--7 {
	width: 6.4em;
}
.list__item--8 {
	width: 5.55em;
}
.list__item--9 {
	width: 5.25em;
}
.list__item--10 {
	width: 5.4em;
}
.list__item--11 {
	width: 4.4em;
}
.list__item--12 {
	width: 4.4em;
}
.list__item--13 {
	width: 7.4em;
}
.list__item--14 {
	width: 3.6em;
}
.list__item--15 {
	width: 7.4em;
}
.list__item--16 {
	width: 7.4em;
}
.list__item--17 {
	width: 7.4em;
}
.list__item--18 {
	width: 4em;
}
.list__item--19 {
	width: 4.1em;
}
.list__item--20 {
	width: 4em;
}
.list__item--21 {
	width: 7.4em;
}
.list__item--22 {
	width: 7.4em;
}
.list__item--24 {
width: 3em;
}
.list__item img {
	max-height: 100%;
}
.list__item.ui-draggable-disabled {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	pointer-events: none;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	opacity: 0;
}
.name-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 5em;
	margin-bottom: 2em;
}
.name-list__item {
	background: #ecae49;
	width: 27em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.name-list__item span {
	color: #fff;
	font-weight: 700;
	font-size: 2.7em;
}
.pacient-inf span {
	color: #fff;
	font-weight: 700;
	font-size: 2.4em;
	white-space: nowrap;
}
.arrow-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 0em;
	margin-top: 4em;
}
.arrow-list__item {
	width: 27em;
}
.arrow-list__item img {
	width: 10.9em;
	margin: 0 auto;
	display: block;
}
.plus {
	opacity: 0;
	border: 0.2em solid #000;
	background: #000;
	width: 3em;
	height: 3em;
	position: absolute;
	right: 0;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	
}

.plus span {font-size: 3.5em;}

img.prod1 {
	width: 12.8em;
}
img.prod12 {
	width: 8.4em;
}
img.prod13 {
	width: 14em;
}
img.prod14 {
	width: 6em;
}
img.prod15 {
	width: 14em;
}
img.prod17 {
	width: 14em;
}
img.prod18 {
	width: 7.6em;
}
img.prod19 {
	width: 7em;
}
img.prod20 {
	width: 7.6em;
}
img.prod7 {
	width: 13.3em;
}
img.prod9 {
	width: 8.5em;
}