section {
	opacity: 0;
}
.prev {
	display: none;
}
.next {
	display: none;
}
.mainSlide {
	height: 100%;
}
.slide-7 {
	padding-top: 12.3em;
}
.header {
	margin-bottom: 6.2em;
	&__title {
		span {
			font-size: 18.7em;
		}
	}

	&__sub-title {
		margin-top: -3.6em;
		padding-left: 74em;
	}
}

.netlock-logo {
	position: absolute;
	left: 148.4em;
	width: 38em;
	top: 17.8em;
}
.main-content {
	width: 66.5em;
	&__item {
		position: relative;
		text-align: center;
		padding-bottom: 0.3em;
		border-bottom: 0.3em solid #fcc0a5;
		margin-bottom: 1.5em;
		span {
			font-weight: 700;
			font-size: 2.7em;
			color: #7f7f7f;
		}
	}
}
.icon-list {
	display: flex;
	position: relative;
	max-width: 80%;
	margin: 0 auto 1.7em;

	&--center {
		align-items: center;
	}
	&__item {
		width: 33%;
		padding: 0 0.8em;
	}

	&__icon {
		margin: 0 auto;
		width: 8.6em;
	}

	&__title {
		margin-top: 0.3em;
		text-align: center;

		span {
			font-weight: 700;
			font-size: 1.9em;

			color: #7f7f7f;
		}
	}
}

.content-right {
	position: absolute;
	left: 86.6em;
	top: 43.3em;
	display: flex;
	&__text {
		width: 54.8em;
		padding: 3.1em 5.2em 0 15.1em;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100%;
			background: #fcc0a5;
		}

		b {
			font-weight: 700;
			font-size: 3.2em;
			display: block;
			position: relative;
			color: #ffffff;
		}

		span {
			position: relative;
			font-style: normal;
			font-weight: 400;
			font-size: 2.7em;

			color: #ffffff;
		}
	}
}
.list-lg {
	width: 50em;
	&__item {
		display: flex;
		align-items: center;
		background: #fcc0a5;
		margin-bottom: 1.3em;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__icon {
		width: 18.5em;
		height: 18em;
		background-size: cover;
		&--1 {
			background-image: url(images/sl7-img-1.png);
		}

		&--2 {
			background-image: url(images/sl7-img-2.png);
		}
	}

	&__text {
		background: #fcc0a5;
		padding-left: 2.3em;
		flex: 1;

		span {
			font-weight: 700;
			font-size: 1.9em;

			color: #ffffff;
		}
	}
}
.sl7-pack {
	width: 40.5em;
	left: 26.7em;
	top: -38.8em;
	position: absolute;
	z-index: 2;
}
