section {
	opacity: 0;
}
.prev {
	display: none;
}
.next {
	display: none;
}
.mainSlide {
	height: 100%;
}
.slide-10 {
	padding-top: 12.5em;
	padding-right: 5em;
}
.header {
	margin-bottom: 10.3em;

	&__title {
		span {
			font-size: 18.7em;
		}
	}

	&__sub-title {
		margin-top: -3.9em;
		padding-left: 52em;
		display: inline-block;

		.sub {
			font-weight: 700;
			font-size: 2.7em;
			line-height: 2.2;
			color: #7f7f7f;
			text-align: right;
		}
	}
}
.list {
	display: flex;
	width: 165.5em;

	&__item {
		width: 25%;
		position: relative;

		&:not(:last-child):before {
			content: '';
			position: absolute;
			top: 1.7em;
			right: -1px;
			height: calc(100% - 10.7em);
			width: 0.3em;
			background: #fcc0a5;
		}
	}

	&__card {
		position: relative;
		text-align: center;
		height: 36.6em;
		width: 100%;
		margin-bottom: 2.8em;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% - 1.7em);
			height: 0.3em;
			background: #fcc0a5;
		}
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% - 1.7em);
			height: 0.3em;
			background: #fcc0a5;
		}
	}

	&__top {
		background: #fff;
		position: absolute;
		top: -6.9em;
		left: 50%;
		transform: translateX(-50%);
		padding: 0 0.8em;
	}

	&__number {
		font-weight: 700;
		font-size: 6.8em;
		color: #7f7f7f;
	}

	&__type {
		font-weight: 700;
		font-size: 2.7em;
		color: #7f7f7f;
	}

	&__img {
		position: absolute;
		left: 50%;
		top: 63%;
		transform: translate(-50%, -50%);
		&--1 {
			top: 56%;
			width: 28em;
		}
		&--2 {
			width: 23.6em;
		}
		&--3 {
			width: 20.6em;
		}
		&--4 {
			top: 68%;
			width: 22.5em;
		}
	}

	&__title {
		text-align: center;
		span {
			font-weight: 700;
			font-size: 1.9em;
			color: #7f7f7f;
		}
	}
}
