section {
	opacity: 0;
}
.prev {
	display: none;
}
.next {
	display: none;
}
.mainSlide {
	height: 100%;
}
.slide-6 {
	padding-top: 15em;
}
.header {
	margin-bottom: 5.5em;
	&__sub-title {
		margin-top: -4.2em;
		padding-left: 83.1em;

		span {
			line-height: 1.15;
		}
	}
}

.content {
	display: flex;

	&__item {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% - 1.7em);
			height: 0.3em;
			background: #fcc0a5;
		}
	}

	&__item-1 {
		.content__title::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: -1px;
			width: 0.3em;
			height: calc(100% - 1.7em);
			background: #fcc0a5;
		}
	}

	&__title {
		text-align: center;
		padding: 3.8em 0;
		position: relative;
		span {
			font-weight: 700;
			font-size: 3.7em;
			color: #fcc0a5;
		}
	}

	&__item-2 {
		&::before {
			left: auto;
			right: 0;
			width: calc(100% - 1.7em);
		}
	}
}
.content-list {
	display: flex;

	&__item {
		padding: 0 1px;
		width: 27.3em;
	}

	&__img {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 26.4em;

		&--1 {
			background-image: url(images/sl6-item-1.jpg);
		}
		&--2 {
			background-image: url(images/sl6-item-2.jpg);
		}
		&--3 {
			background-image: url(images/sl6-item-3.jpg);
		}
		&--4 {
			background-image: url(images/sl6-item-4.jpg);
		}
		&--5 {
			background-image: url(images/sl6-item-5.jpg);
		}
		&--6 {
			background-image: url(images/sl6-item-6.jpg);
		}
	}

	&__title {
		background: #fcc0a5;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 14em;
		span {
			font-weight: 700;
			font-size: 2.7em;
			color: #7f7f7f;
		}
	}
}
