/* reset */
$min-width: 320px; 
$max-width: 1337px; 
$base-bg: #FFF; 
$base-font-size: 14px; 
$base-line-height: 17px; 
$base-font-family: "ProximaNova", sans-serif; 
$custom-font-family: 'BebasNeue', sans-serif; 
$link-color: #100da9;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #515151;
$title-color: #64a9df;
$title-font-family: $custom-font-family;

$font-size-h1: 120px;
$line-height-h1: 125px;
$font-size-h2: 45px;
$line-height-h2: 58px;
$font-size-h3: 24px;
$line-height-h3: 30px;